<div class = "main_header">
  <div class="left_header">
    <div class="header_title">
      hogefuga
    </div>
  </div>
  <div class="right_header">
    <div class="chat_room_out">
     <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class = "main_chats">
  <div class="main_chat">
    <div class="top_message">
      <div class="message_user">
        Tom
      </div>
      <div class="message_time">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="down_message">
      <div class="message">
        おはよう
      </div>
    </div>
  </div>
  <div class="main_chat">
    <div class="top_message">
      <div class="message_user">
        Sim
      </div>
      <div class="message_time">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="down_message">
      <div class="message">
        こんばんわ
      </div>
    </div>
  </div>
</div>

<div class = "main_footer">
  <div class=form_input>
    <input class="form_message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form_submit" type="submit" value="送信">
</div>