<div class = "side_header">
  <div class = header_name>
    <%= link_to edit_user_path(current_user) do %>
      <%= current_user.name %>
    <% end %>
  </div>
  <div class="create_room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
      
<div class = "side_chatroom">
  <% current_user.rooms.each do |room|%>
    <div class="chat_room">
      <div class = "chat_room_name">
        <a href="#"><%= room.name%></a>
      </div>
    </div>
  <% end %>
</div>